body {
    background: url('../img/bg-app.jpg') repeat;
    color: white;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 115px 0 0 0;
    min-width: 485px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: fixed;
    background-color: #3F51B5;
    height: 64px;
    padding: 0 32px 0;
    box-sizing: border-box;
    font-size: 1.5em;
    line-height: 64px;
    width: 100%;
    min-width: 485px;
}

#nav-bar {
    float: right;
    font-size: 1.5em;
}

#nav-bar>span {
    margin-left: 15px;
}

#nav-bar a,
#nav-bar a:active,
#nav-bar a:hover,
#nav-bar a:visited {
    color: #fff;
    text-decoration: none;
}

.hide-me {
    display: none;
}

h1 {
    color: white;
    font-variant: small-caps;
    font-size: 2.5em;
    text-align: center;
    font-variant-caps: titling-caps;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card {
    border-radius: 7px;
    margin: 2.5%;
    padding: 2.5% 2.5%;
    height: 200px;
    position: relative;
    overflow: hidden;
    font-size: 1em;
}

.card-open {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 70%;
    border-radius: 7px;
    font-size: 1.5em;
    padding: 30px;
}

.new-dest-card {
    background: darkgray;
}

.dest-card {
    background: lightgreen;
}

.activities-list li {
    list-style: none;
}

.card input, .card-open input {
    width: 85%;
}

.dest-title {
    font-size: 1.5em;
    margin: 0 0 10px 0;
}

.card-open .dest-title {
    margin-bottom: .5em;
    height: 2em;
}

.activities-list {
    padding-left: 2.5em;
}

.activities-list input {
    font-size: 1em;
    height: 1em;
}

.activities-list li:first-child .delete-activity {
    display: none;
}

.delete-activity {
    float: right;
    text-decoration: none;
}

.card-button a,
.card-button a:visited,
.card-button a:active {
    color: darkslategrey;
}

.red-hover-button i:hover,
.red-hover-button i:hover {
    color: #F44336 !important;
}

.card-toolbar {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.shadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.shadow:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.upload-wizard {
    text-align: center;
}

@media (min-width: 700px) {
    .card {
        width: 40%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .card {
        width: 25%;
        float: left;
    }
}