body {
    background: url('../img/cork.jpg') repeat;
    color: white;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 115px 0 0 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding-top;
    64px;
}

header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: fixed;
    background-color: #3F51B5;
    height: 64px;
    padding: 0 32px 0;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 64px;
    width: 100%;
}

.hide-me {
    display: none;
}

h1 {
    color: white;
    font-variant: small-caps;
    font-size: 2.5em;
    text-align: center;
    font-variant-caps: titling-caps;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    /* For Firefox */
}

.card {
    border-radius: 7px;
    margin: 2.5%;
    padding: 15px;
    height: 175px;
    overflow: hidden;
    position: relative;
}

.new-dest-card {
    background: darkgray;
}

.dest-card {
    background: lightgreen;
}

.shadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.shadow:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.new-dest-card li {
    list-style: square;
    margin-left: 0;
    padding-left: 0;
    padding: 1em auto 1em auto;
}

.dest-card li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    padding: 1em auto 1em auto;
}

.dest-card li:before {
    content: "â˜";
    padding-right: 5px;
}

@media (min-width: 700px) {
    .card {
        width: 40%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .card {
        width: 25%;
        float: left;
    }
}

.card-open {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 70%;
    margin: 0;
    border-radius: 7px;
    font-size: 2em;
    padding: 30px;
}

.close-card-button {
    position: absolute;
    top: 15px;
    right: 15px;
}

.close-card-button>a,
.close-card-button>a:visited,
.close-card-buttona>a:active {
    color: darkslategray;
}

.close-card-button>a:hover {
    color: #F44336;
}

button {
    text-decoration: none;
    color: #fff;
    background-color: #F44336;
    text-align: center;
    letter-spacing: .5px;
    border: none;
    display: inline-block;
    height: 52px;
    font-size: .75em;
    line-height: 22px;
    padding: 15px 32px;
    text-transform: uppercase;
    border-radius: 28px;
}

.complete-card-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.add-button-container {
    background: #F44336;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.add-button {
    height: 56px;
    line-height: 56px;
    width: 56px;
    display: inline-block;
    text-align: center;
    color: #fff;
    border: none;
    text-decoration: none;
    text-align: center;
}

.i111111 {
    background: url('https://www.ncl.com/sites/default/files/Hawaii.Coast2015.jpg') center center;
    background-size: cover;
}

.i222222 {
    background: url('https://s.skygate.co.jp/pc/sa_city/oversea/images/nyc/nyc_img_k08_01.jpg') center center;
    background-size: cover;
}

.i333333 {
    background: url('https://www.goodfreephotos.com/cache/japan/tokyo/night-time-city-view-in-tokyo-japan.jpg') center center;
    background-size: cover;
}