body {
    background: url('') repeat;
    background-color: #3F51B5;
    font-family: Roboto, sans-serif;
    color: #fff;
    margin: 0;
}

.hide-me {
    display: none;
}

.user-menu {
    float: right;
    padding: 10px;
}

.user-menu a {
    color: white;
    font-family: Roboto, sans-serif;
}

header {
    position: relative;
    height: 400px;
    overflow: hidden;
    background: url('/img/bg-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;
}

h1 {
    font-family: Raleway, Roboto, sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: #fff;
}

h2 {
    margin: 1.5em auto;
    padding-left: 75px;
}

.public-dest {
    margin: 25px auto;
    background: #000;
    height: 150px;
    position: relative;
    overflow: hidden;
}

.dest-gradient {
    position: absolute;
    height: 150px;
    width: 400px;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 62%, rgba(0, 0, 0, 0.7) 75%, rgba(0, 0, 0, 0) 100%);
}

.dest-label {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    margin-left: 75px;
}

.dest-img img {
    height: 150px;
    float: right;
    margin-left: 30px;
    margin: 0;
}