body {
    background: url('../img/cork.jpg') repeat;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

h1 {
    color: white;
    font-variant: small-caps;
    font-size: 2.5em;
    text-align: center;
    font-variant-caps: titling-caps;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    /* For Firefox */
}

.card {
    margin: 2.5%;
    padding: 15px;
    height: 175px;
}

.new-dest-card {
    background: lightgray;
}

.dest-card {
    background: lightgreen;
}

.card-shadow {
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-shadow:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.new-dest-card li {
    list-style: square;
    margin-left: 0;
    padding-left: 0;
    padding: 1em auto 1em auto;
}

.dest-card li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    padding: 1em auto 1em auto;
}

.dest-card li:before {
    content: "☐";
    padding-right: 5px;
}

@media (min-width: 700px) {
    .card {
      width: 40%;
      float: left;
    }
}
@media (min-width: 1200px) {
  .card {
    width: 25%;
    float: left;
  }
}

.hawaii-card {
    background: url('https://www.ncl.com/sites/default/files/Hawaii.Coast2015.jpg') center center;
    background-size: cover;
}

.ny-card {
    background: url('https://s.skygate.co.jp/pc/sa_city/oversea/images/nyc/nyc_img_k08_01.jpg') center center;
    background-size: cover;
}